* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* navbar section */
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 20px;
}

.spotify-logo {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.fa-spotify {
    font-size: 40px;
}

span sup {
    font-size: 10px;
}

.listed-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    
}

.list-nav {
    display: flex;
    flex-direction: row;
   /* justify-content: space-between; */
   gap: 40px;
   
}

.list-nav div  {
    /* display:inline-block; */
    
}

.list-nav div a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.list-nav div a:hover {
    color: rgb(31, 231, 31);
}

.list-right {
    border-left: 2px solid;
    padding-left: 20px;
    
}

.list-left {
    /* padding-left: 20px; */
}

/* hero section */
.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    /* margin: 20px; */
    background-image: url(images/bubbles-dktp.svg), linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    padding-top: 100px;
    gap: 90px;
}

.hero-section img {
    width: 300px;
    
}

.hero-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-left: 240px; */
    width: 50%;
    /* padding: 30px; */
    
}

.hero-txt h1 {
    font-size: 62px;
    font-weight: bold;
    color: white;
    
}

button {
    padding: 20px;
    border-radius: 100px;
    border-style: none;
    font-weight: bold;
    background-color: white;
    margin-top: 30px;
}